.login{
	height:500px;
}
.form {
width:300px;
height:400px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
background-color:#fff;
margin:0 auto;
}

.img{
	margin:0 auto;
	
}

.img img{
	width:170px;
	height: 120px;
	margin-left:580px;
	
}
p {
margin-top:40px
}
h2 {
padding:20px 35px;
margin:-10px -50px;
text-align:center;
}
input[type=text],input[type=password] {
width:95%;
height:10%;
padding:10px;
border: 1px solid #ccc;
 border-radius: 4px;
box-sizing: border-box;
padding-left: 50px;
}
#username {
background-image:url(images/4.png);
background-repeat:no-repeat;
background-position:5px 5px;
}
#password {
background-image:url(images/5.jpg);
background-repeat:no-repeat;
background-position:5px 5px;
}
#loginbtn{
width:100%;
text-align:center;
display:block;
background-color:background: #4B99AD;;
padding:10px 0;
font-size:20px;
cursor:pointer;
margin-top: 20px;
border-radius:5px
}
a{
	text-decoration:none;
	color: black;
}
.footer{
	margin-top: 75px;
	height: 50px;
}